<h1>Listing Questions</h1>
 
<table>
    <tr>
      <th>Body</th>
    </tr>
 
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
      </tr>
    <% end %>
</table>
 
<br>

<p><a href="/tests">All tests</a></p>