<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Текстовое поле</title>
 </head>
 <body> 
  <p><b>Введите вопрос:</b></p>
  <p><textarea name="question"></textarea></p>
  <p><input type="submit"></p>
 </body>
</html>