<p>
  <strong>Question:</strong>
  <%= @question.body %>
</p>

<p><b>Answers:</p></b>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol> 

<p><%= link_to 'Back', test_path(@question.test) %></p>

