<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.title %>
  </td>
  <td class="align-middle"><%= image_tag("#{badge.image_url}") %></td>
  <td class="align-middle"><%= current_user.count_badges_by_id(badge) %></td>
</tr>