<h2><%= t('.title') %></h2>
<table class="table">
    <tr>
      <th>Email</th>
      <th><%= t('.text') %></th>
      <th colspan="3"></th>
    </tr>
    <%= render @feedbacks %>
</table>

<p><%= link_to t('.back'), admin_tests_path %></p>