<h2>Все отзывы</h2>
<table class="table">
    <tr>
      <th>Email</th>
      <th>Текст отзыва</th>
      <th colspan="3"></th>
    </tr>
    <%= render @feedbacks %>
</table>

<p><%= link_to 'Back', admin_tests_path %></p>