<li>
  <b>Answer body:</b>
  <%= answer.body %><br>
  <b>Correct?</b>
  <%= answer.correct %><br>
  <%= link_to 'Edit', edit_admin_answer_path(answer) %> |

  <%= link_to 'Delete',
              admin_answer_path(answer), 
              method: :delete,
              data: {confirm: 'Are you sure?'} %> 
</li>


